* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mina', sans-serif;
    margin: 0px;
    background-color: white;
}

.header{
    background-color: #FFCCCC;
    color: white;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.header a{
    font-family: 'Mina', sans-serif;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.header a:hover{
    background: rgb(181,211,161);
    text-decoration: none;
    border-radius: 5px;
}

.header ol li{
    height: inherit;
}

.logo{
    margin: 0px;
}

.container{
    border: 1px solid red;
    width: 1000px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}


.contenido {
    font-family: 'Fjalla One', sans-serif;
    width: 100%;
    margin: 10px;
    display: flex;
    /* border: 2px solid red; */
    /* background: greenyellow; */
    
}

.contenido .left {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center; /*Alineamiento horizontal*/
    justify-content: space-between;
    /* border: 2px solid red; */
}

.contenido .right {
    font-family: 'Mina', sans-serif;
    width: 60%;
    background: #FFCCCC; 
    color: white;
    padding: 20px 80px;
    font-size: 16px;
    /* border: 2px solid red;   */
}

.contenido .logo img {
    width: 90%;
    text-align: center
}

.contenido .left .titulo h1{
    font-family: 'Abel', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #FFCCCC;
}

.contenido .right .titulo-categoria{
    font-family: 'Mina', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-left: 0;
    color: white;
}
.contenido .caja-amb {
    text-align: center;
}

.contenido .caja-amb .caja-nombre{
    margin: 0;
    text-align: center;
    font-size: 30px;
}

.contenido .caja-amb .caja-rosa{
    padding: 7px;
    color: white;
    background: #FFCCCC;
}
/* Selector descendente */

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

ol, ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.presentacion{
    background: #fafafa;
    /* border: 1px solid red; */
    margin: 20px;
    align-items: center;
    padding: 20px;
}

.our-history{
    border: 1px solid blue;
    /* width: 1000px; */
    /* display: inherit; */
    /* justify-content: inherit; */
    /* align-items: inherit; */
    /* height: inherit; */
    /* flex-wrap: inherit; */
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}

h1{
    margin: 10px;
}

h3{
    color: black;
    text-transform: uppercase;
    font-family: 'Mina', sans-serif;
    /* font-weight: bold; */
    font-size: 22px;
    /* margin-bottom: 40px; */
    padding: 15px;
    margin: inherit;
    /* text-align: left; */
}

h2{
    color: black;
    text-transform: uppercase;
    font-family: 'Mina', sans-serif;
    font-weight: bold;
    font-size: 24px;
    /* margin-bottom: 40px; */
    padding: 15px;
    margin: inherit;
    /* text-align: left; */
}

strong{
    color: #FFCCCC;
}

.footer{
    color: white;
    background-color: #FFCCCC;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer img{
    vertical-align: middle;
}

.footer a{
    color: white;
}

.content{
    display: flex;
    /* justify-content: space-between; */
}

.content-description{
    text-align: justify;
    padding: 25px;
}
